<div class="navbar navbar-default navbar-static-top">
   <div class="container">
   <div>
    <a class="navbar-brand" href="#" >Associate-Manager Interaction Portal</a>
    <a class="navbar-brand navbar-right" href='users/sign_out' method: :delete >Log Out</a>
</div>
   </div>
 </div>
<h3>Associate Information</h3><br>
<p>
  <strong>Reason:</strong>
 <%= @associate.leave_approval %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @associate.start_date.strftime("%d/%m/%Y") %>
</p>

<p>
  <strong>End date:</strong>
  <%= @associate.end_date.strftime("%d/%m/%Y")%>
</p>

<p>
  <strong>Leave Type:</strong>
  <%= @associate.type_of_request %>
</p>
